<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>翱三通史·验证</title>
	<link rel="stylesheet" href="./../static/css/verify.css">
</head>
<body>
<div class="login-container">
	<h2>防泄漏验证</h2>
	<div class="info-text">请注意：您所访问的内容已经属于《翱三通史》的保密内容，需要进行身份验证。请回答下面问题：</div>
	<form id="title-form">
		<div class="form-group">
			<label for="answer">请根据下面关键词，填写对应人物（范围：武汉奥山实验初级中学）</label>
			<div id="v-title"></div>
			<input type="text" id="answer" placeholder="请填写答案" required>
		</div>
		<progress id="time" max="60" value="60"></progress>
		<div><span id="time-show">60</span>秒后自动提交答案</div>
		<button type="submit">提交答案</button>
		<div id="message" class="error-message"></div>
	</form>
</div>
</body>
</html>